body *
{
    border: 2px solid red;
    font-family: 'Roboto', sans-serif;
}

/*Navigation Styling*/
.navigation
{
background-color: rgb(66, 66, 94);
color: white;
text-decoration:none;
}

.navigation .nav .nav-item a:hover
{
    background-color:rgb(165, 163, 163);
    color: midnightblue;
}

.navigation a:visited
{
    background-color: rgb(95, 90, 95);
    color: white;
    text-decoration:none;
}

/*Main Content Styling*/
.blue-bg
{
    background-color:rgb(1, 1, 39);
}

#home-container
{
    background-image: url(images/library.jpg);
    background-repeat: no-repeat;
    background-size:cover;   
}

.header
{
    font-family: 'Play', sans-serif;
    text-align:center;
    color:gold;
    padding:10px;
}

.header h1
{
    padding:20px;
    font-size: 80px;
}

.row
{
    min-height:80px;
}

.home_text
{
    background-color:rgb(95, 90, 95,0.75);
    color: white;
    padding: 15px;
}

.footer_text
{
    color: white;
    padding: 15px;
    font-size:25px;
}

.footer_text span
{
    font-size:25px;
}

.home_text h1, h4{text-align: center;}

p{font-size:20px;}

#blog_row
{
    background-image: url(images/dark_computer.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    color: white;
    padding: 15px;
}

.page_footer
{
background-color:rgb(66, 66, 94);
}



/*Blog Styling */

.blog_col
{
    background-image:url("images/pentagons.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

.blog
{
    background-color:rgb(95,90,95,0.85);
    color:white;
    padding:5px;
    font-size:15px;
    margin:10px;
}

.blog_sides
{
    background-image:url("images/staircase.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

.blog_intro
{
    color:midnightblue;
    font-family: 'Play', sans-serif;
    padding:5px;
    margin:10px;
}

.add_blog
{
    color:midnightblue;
    font-size:20px;
    border:5px midnightblue solid;
    margin:10px;
}


/*Contact Styling*/
.contact
{
    font-size:25px;
    background-color:rgb(95,90,95,0.85);
    color:white;
}

.contact_bg
{
    background-image:url("images/cafe.jpg");
    background-repeat:no-repeat;
    background-size:cover;
}

/*About Styling*/
.about_blogs
{
    height:100%;
}